# Project 5

## Imports

In [2]:
import pandas as pd

## 1900 Census Data

In [15]:
census = pd.read_csv(
    "https://raw.githubusercontent.com/stacker-media/data/main/1900-census-immigrant-state/1900-census-immigrant-pop-state.csv",
    header=6,
).drop([0, 1])
census.head()

,States and territories,Total foreign born,Africa,"Asia (except China, Japan, and India)",Atlantic Islands,Australia,Austria,Belgium,Bohemia,Canada (English) (includes Newfoundland),...,Scotland,South America,Spain,Sweden,Switzerland,Turkey,Wales,West Indies (except Cuba and Puerto Rico),Other Countries,Born at Sea
2,Alabama,14592,77,52,1,16,341,45,31,617,...,1223,51,59,488,200,66,306,79,7,26
3,Alaska,12661,3,15,15,60,228,26,8,1501,...,295,20,10,1445,80,12,41,9,19,14
4,Arizona,24233,14,15,4,58,298,33,16,1116,...,399,24,51,342,199,29,136,13,1,26
5,Arkansas,14289,14,34,1,16,451,14,281,932,...,342,15,7,355,679,1,113,13,11,34
6,California,367240,168,235,3515,2269,5356,785,504,27408,...,9467,1137,896,14549,10974,619,1949,372,260,358

In [16]:
census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 2 to 53
Data columns (total 48 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   States and territories                       52 non-null     object
 1   Total foreign born                           52 non-null     int64
 2   Africa                                       52 non-null     int64
 3   Asia (except China, Japan, and India)        52 non-null     int64
 4   Atlantic Islands                             52 non-null     int64
 5   Australia                                    52 non-null     int64
 6   Austria                                      52 non-null     int64
 7   Belgium                                      52 non-null     int64
 8   Bohemia                                      52 non-null     int64
 9   Canada (English) (includes Newfoundland)     52 non-null     int64
 10  Canada (French) (includes Newfoundland)      52 non-null     int64
 11  Central America                              52 non-null     int64
 12  China                                        52 non-null     int64
 13  Cuba                                         52 non-null     int64
 14  Denmark                                      52 non-null     int64
 15  England                                      52 non-null     int64
 16  Europe (not otherwise specified)             52 non-null     int64
 17  Finland                                      52 non-null     int64
 18  France                                       52 non-null     int64
 19  Germany                                      52 non-null     int64
 20  Greece                                       52 non-null     int64
 21  Holland                                      52 non-null     int64
 22  Hungary                                      52 non-null     int64
 23  India                                        52 non-null     int64
 24  Ireland                                      52 non-null     int64
 25  Italy                                        52 non-null     int64
 26  Japan                                        52 non-null     int64
 27  Luxemburg                                    52 non-null     int64
 28  Mexico                                       52 non-null     int64
 29  Norway                                       52 non-null     int64
 30  Pacific Islands (except Phillipine Islands)  52 non-null     int64
 31  Poland (Austrian)                            52 non-null     int64
 32  Poland (German)                              52 non-null     int64
 33  Poland (Russian)                             52 non-null     int64
 34  Poland (unknown)                             52 non-null     int64
 35  Portugal                                     52 non-null     int64
 36  Roumania                                     52 non-null     int64
 37  Russia                                       52 non-null     int64
 38  Scotland                                     52 non-null     int64
 39  South America                                52 non-null     int64
 40  Spain                                        52 non-null     int64
 41  Sweden                                       52 non-null     int64
 42  Switzerland                                  52 non-null     int64
 43  Turkey                                       52 non-null     int64
 44  Wales                                        52 non-null     int64
 45  West Indies (except Cuba and Puerto Rico)    52 non-null     int64
 46  Other Countries                              52 non-null     int64
 47  Born at Sea                                  52 non-null     int64
dtypes: int64(47), object(1)
memory usage: 19.9+ KB

In [17]:
census.isna().sum()

States and territories                         0
Total foreign born                             0
Africa                                         0
Asia (except China, Japan, and India)          0
Atlantic Islands                               0
Australia                                      0
Austria                                        0
Belgium                                        0
Bohemia                                        0
Canada (English) (includes Newfoundland)       0
Canada (French) (includes Newfoundland)        0
Central America                                0
China                                          0
Cuba                                           0
Denmark                                        0
England                                        0
Europe (not otherwise specified)               0
Finland                                        0
France                                         0
Germany                                        0
Greece                                         0
Holland                                        0
Hungary                                        0
India                                          0
Ireland                                        0
Italy                                          0
Japan                                          0
Luxemburg                                      0
Mexico                                         0
Norway                                         0
Pacific Islands (except Phillipine Islands)    0
Poland (Austrian)                              0
Poland (German)                                0
Poland (Russian)                               0
Poland (unknown)                               0
Portugal                                       0
Roumania                                       0
Russia                                         0
Scotland                                       0
South America                                  0
Spain                                          0
Sweden                                         0
Switzerland                                    0
Turkey                                         0
Wales                                          0
West Indies (except Cuba and Puerto Rico)      0
Other Countries                                0
Born at Sea                                    0
dtype: int64

In [20]:
census.columns

Index(['States and territories', 'Total foreign born', 'Africa',
       'Asia (except China, Japan, and India)', 'Atlantic Islands',
       'Australia', 'Austria', 'Belgium', 'Bohemia',
       'Canada (English) (includes Newfoundland)',
       'Canada (French) (includes Newfoundland)', 'Central America', 'China',
       'Cuba', 'Denmark', 'England', 'Europe (not otherwise specified)',
       'Finland', 'France', 'Germany', 'Greece', 'Holland', 'Hungary', 'India',
       'Ireland', 'Italy', 'Japan', 'Luxemburg', 'Mexico', 'Norway',
       'Pacific Islands (except Phillipine Islands)', 'Poland (Austrian)',
       'Poland (German)', 'Poland (Russian)', 'Poland (unknown)', 'Portugal',
       'Roumania', 'Russia', 'Scotland', 'South America', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'Wales',
       'West Indies (except Cuba and Puerto Rico)', 'Other Countries',
       'Born at Sea'],
      dtype='object')

In [23]:
census['States and territories'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Colombia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Indian Territory', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

## Target Variable - Most common second language ex. Spanish

In [57]:
lang_dict = {
    "Alabama": ["Chinese"],
    "Alaska": ["Eskimo-Aleutian"],
    "Arizona": ["Navajo"],
    "Arkansas": ["Ilocano"],
    "California": ["Chinese"],
    "Colorado": ["Chinese"],
    "Connecticut": ["Portuguese"],
    "Delaware": ["Chinese"],
    "District of Colombia": ["French"],
    "Florida": ["Haitian"],
    "Georgia": ["Vietnamese"],
    "Hawaii": ["Ilocano"],
    "Idaho": ["Chinese"],
    "Illinois": ["Polish"],
    "Indiana": ["Pennsylvania Dutch"],
    "Indian Territory": ["Other Native Languages"],
    "Iowa": ["German"],
    "Kansas": ["Chinese"],
    "Kentucky": ["German"],
    "Louisiana": ["French"],
    "Maine": ["French"],
    "Maryland": ["Chinese"],
    "Massachusetts": ["Portuguese"],
    "Michigan": ["Arabic"],
    "Minnesota": ["Amharic"],
    "Mississippi": ["Vietnamese"],
    "Missouri": ["Chinese"],
    "Montana": ["Other Native Languages"],
    "Nebraska": ["Vietnamese"],
    "Nevada": ["Tagalog"],
    "New Hampshire": ["French"],
    "New Jersey": ["Chinese"],
    "New Mexico": ["Navajo"],
    "New York": ["Chinese"],
    "North Carolina": ["Chinese"],
    "North Dakota": ["German"],
    "Ohio": ["Pennsylvania Dutch"],
    "Oklahoma": ["Vietnamese"],
    "Oregon": ["Chinese"],
    "Pennsylvania": ["Chinese"],
    "Rhode Island": ["Portuguese"],
    "South Carolina": ["German"],
    "South Dakota": ["Dakota"],
    "Tennessee": ["Arabic"],
    "Texas": ["Vietnamese"],
    "Utah": ["Chinese"],
    "Vermont": ["French"],
    "Virginia": ["Chinese"],
    "Washington": ["Chinese"],
    "West Virginia": ["Chinese"],
    "Wisconsin": ["Hmong"],
    "Wyoming": ["Other Native Languages"],
}

In [60]:
languages = (
    pd.DataFrame(lang_dict)
    .T.reset_index()
    .rename(columns={"index": "States and territories", 0: "language"})
)
languages.head()

  States and territories         language
0                Alabama          Chinese
1                 Alaska  Eskimo-Aleutian
2                Arizona           Navajo
3               Arkansas          Ilocano
4             California          Chinese

## Merge Data

In [62]:
data = census.merge(languages).drop(columns='States and territories')
data.head()

,Total foreign born,Africa,"Asia (except China, Japan, and India)",Atlantic Islands,Australia,Austria,Belgium,Bohemia,Canada (English) (includes Newfoundland),Canada (French) (includes Newfoundland),...,South America,Spain,Sweden,Switzerland,Turkey,Wales,West Indies (except Cuba and Puerto Rico),Other Countries,Born at Sea,language
0,14592,77,52,1,16,341,45,31,617,80,...,51,59,488,200,66,306,79,7,26,Chinese
1,12661,3,15,15,60,228,26,8,1501,118,...,20,10,1445,80,12,41,9,19,14,Eskimo-Aleutian
2,24233,14,15,4,58,298,33,16,1116,153,...,24,51,342,199,29,136,13,1,26,Navajo
3,14289,14,34,1,16,451,14,281,932,101,...,15,7,355,679,1,113,13,11,34,Ilocano
4,367240,168,235,3515,2269,5356,785,504,27408,2410,...,1137,896,14549,10974,619,1949,372,260,358,Chinese

## EDA

In [18]:
census.describe()

,Total foreign born,Africa,"Asia (except China, Japan, and India)",Atlantic Islands,Australia,Austria,Belgium,Bohemia,Canada (English) (includes Newfoundland),Canada (French) (includes Newfoundland),...,Scotland,South America,Spain,Sweden,Switzerland,Turkey,Wales,West Indies (except Cuba and Puerto Rico),Other Countries,Born at Sea
count,5.200000e+01,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,...,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,2.011544e+05,51.307692,229.326923,210.365385,134.769231,5322.596154,572.519231,3018.442308,15151.692308,7604.750000,...,4514.057692,92.230769,140.634615,11050.076923,2228.192308,191.365385,1801.884615,277.673077,49.519231,160.230769
std,3.398627e+05,74.193055,404.648272,786.108460,328.606303,14241.311293,1100.553221,6795.313551,32185.706078,20654.728207,...,7417.831651,219.535661,291.749492,21967.296019,3329.324456,480.324442,5146.964282,889.859049,75.065590,217.254131
min,4.492000e+03,2.000000,1.000000,0.000000,1.000000,28.000000,9.000000,0.000000,173.000000,12.000000,...,196.000000,1.000000,3.000000,65.000000,28.000000,0.000000,8.000000,1.000000,0.000000,5.000000
25%,1.876375e+04,10.500000,34.750000,2.000000,16.000000,239.250000,25.000000,16.000000,904.250000,100.000000,...,427.000000,9.750000,15.750000,328.250000,176.500000,17.750000,127.500000,11.750000,7.750000,21.750000
50%,7.758700e+04,26.000000,103.500000,7.500000,53.500000,829.000000,78.000000,204.000000,3760.000000,637.000000,...,1985.500000,28.500000,47.500000,2427.000000,687.500000,51.500000,397.000000,35.500000,18.000000,70.500000
75%,1.886125e+05,68.750000,238.250000,24.000000,124.500000,4080.750000,495.750000,2200.000000,13511.000000,2952.750000,...,4306.500000,62.500000,114.250000,11258.000000,2632.000000,130.250000,1535.000000,111.500000,53.250000,187.000000
max,1.900425e+06,473.000000,2140.000000,4432.000000,2269.000000,78491.000000,4412.000000,38570.000000,158753.000000,134416.000000,...,33862.000000,1137.000000,1614.000000,115476.000000,13678.000000,2896.000000,35453.000000,4910.000000,339.000000,1001.000000