<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

I have used the Python Docstring convention detailed here: https://www.python.org/dev/peps/pep-0257/

In [884]:
# Define a function that calculates the mean from a list of numbers
def mean_function(numbers_list):
    """Calculate the mean from a list of numbers.

    Keyword arguments:
    numbers_list -- A list of integers and/or floats
    """
    result = sum(numbers_list) / len(numbers_list)
    return result

numbers = [656, 343, 453, 323]

mean_function(numbers)

443.75

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [885]:
# Define a function that calculates the standard deviation from a list of numbers
def standard_deviation(numbers_list):
    """Calculate the standard deviation of a list of numbers.

    Keyword arguments:
    numbers_list -- A list of integers and/or floats
    """
    numbers_mean = mean_function(numbers_list)
    variances = 0.0
    for number in numbers_list:
        variances += ((number - numbers_mean)**2)
    return ((variances/len(numbers_list))**.5)

In [886]:
standard_deviation(numbers)

132.16159616166868

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [887]:
string = '50.5%'
string[:-1]

'50.5'

In [888]:
# Define a function that converts a percentage formatted as a string into a decimal float
def string_to_decimal(string):
    """Convert a percentage formatted as a string into a decimal.

    Keyword arguments:
    string -- A string XX.X% where X are integers
    """
    number = float(string[:-1])/100
    return number

In [889]:
string_to_decimal('50.5%')

0.505

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [890]:
# Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

### 2019 ACT and SAT scores in California by school

First we import SAT and ACT score data by school in California:

In [891]:
# Import SAT and ACT by school in CA data into individual data frames
ca_sat = pd.read_csv('../data/sat_2019_ca.csv')
ca_act = pd.read_csv('../data/act_2019_ca.csv')

In [892]:
ca_sat.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [893]:
ca_act.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

## California Household Income by County

County level income in this data is segmented by race, but there is a total that reflects total county data.

https://datausa.io/api/data?Geography=04000US06:children&measure=Household Income by Race,Household Income by Race Moe&drilldowns=Race

In [894]:
income_by_county = pd.read_csv('../data/income_by_location.csv')
income_by_county.head()

,ID Race,Race,ID Year,Year,Household Income by Race,Household Income by Race Moe,Geography,ID Geography,Slug Geography
0,0,Total,2019,2019,108322,2704.0,"Alameda County, CA",05000US06001,alameda-county-ca
1,0,Total,2019,2019,62563,6056.0,"Butte County, CA",05000US06007,butte-county-ca
2,0,Total,2019,2019,107135,3584.0,"Contra Costa County, CA",05000US06013,contra-costa-county-ca
3,0,Total,2019,2019,87059,6290.0,"El Dorado County, CA",05000US06017,el-dorado-county-ca
4,0,Total,2019,2019,57518,2684.0,"Fresno County, CA",05000US06019,fresno-county-ca

## Cleanup

### SAT Scores by School in California Cleanup

In [895]:
ca_sat[ca_sat['RType'] == 'C'].head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
1981,9.000000e+12,9.0,900000.0,0.0,C,NaN,NaN,El Dorado,2226.0,604.0,...,667,93.55,636,89.20,442,73.18,619,86.82,2018-19,NaN
1982,1.900000e+13,19.0,1900000.0,0.0,C,NaN,NaN,Los Angeles,114618.0,48676.0,...,39363,57.65,26064,38.18,18555,38.12,24602,36.03,2018-19,NaN
1983,2.000000e+13,20.0,2000000.0,0.0,C,NaN,NaN,Madera,2352.0,442.0,...,608,47.13,316,24.50,127,28.73,293,22.71,2018-19,NaN
1984,5.700000e+13,57.0,5700000.0,0.0,C,NaN,NaN,Yolo,2299.0,759.0,...,709,88.85,605,75.81,443,58.37,591,74.06,2018-19,NaN
1985,1.500000e+13,15.0,1500000.0,0.0,C,NaN,NaN,Kern,14229.0,3793.0,...,2077,74.47,1570,56.29,1364,35.96,1454,52.13,2018-19,NaN

In [896]:
ca_sat.columns

Index(['CDS', 'CCode', 'CDCode', 'SCode', 'RType', 'SName', 'DName', 'CName',
       'Enroll12', 'NumTSTTakr12', 'NumERWBenchmark12', 'PctERWBenchmark12',
       'NumMathBenchmark12', 'PctMathBenchmark12', 'Enroll11', 'NumTSTTakr11',
       'NumERWBenchmark11', 'PctERWBenchmark11', 'NumMathBenchmark11',
       'PctMathBenchmark11', 'TotNumBothBenchmark12', 'PctBothBenchmark12',
       'TotNumBothBenchmark11', 'PctBothBenchmark11', 'Year', 'Unnamed: 25'],
      dtype='object')

In [897]:
ca_sat.drop(columns=['CDS', 'CCode', 'CDCode', 'SCode', 'SName', 'DName',
       'Enroll12', 'NumTSTTakr12', 'NumERWBenchmark12', 'PctERWBenchmark12',
       'NumMathBenchmark12', 'PctMathBenchmark12', 'Enroll11', 'NumTSTTakr11',
       'NumERWBenchmark11', 'PctERWBenchmark11', 'NumMathBenchmark11',
       'PctMathBenchmark11', 'Year', 'Unnamed: 25'], inplace=True)

In [898]:
ca_sat = ca_sat[ca_sat['RType'] == 'C']
ca_sat.head()

,RType,CName,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11
1981,C,El Dorado,442,73.18,619,86.82
1982,C,Los Angeles,18555,38.12,24602,36.03
1983,C,Madera,127,28.73,293,22.71
1984,C,Yolo,443,58.37,591,74.06
1985,C,Kern,1364,35.96,1454,52.13

In [899]:
ca_sat.drop(columns=['RType'], inplace=True)

In [900]:
ca_sat.rename(columns={
    'CName': 'county',
    'TotNumBothBenchmark12': 'tot_num_both_bench_12',
    'PctBothBenchmark12': 'pct_both_bench_12',
    'TotNumBothBenchmark11': 'tot_num_both_bench_11',
    'PctBothBenchmark11': 'pct_both_bench_11',
}, inplace=True)

In [901]:
ca_sat.head()

,county,tot_num_both_bench_12,pct_both_bench_12,tot_num_both_bench_11,pct_both_bench_11
1981,El Dorado,442,73.18,619,86.82
1982,Los Angeles,18555,38.12,24602,36.03
1983,Madera,127,28.73,293,22.71
1984,Yolo,443,58.37,591,74.06
1985,Kern,1364,35.96,1454,52.13

In [902]:
ca_sat.replace('*', np.nan, inplace=True)
ca_sat.dropna(inplace=True)

In [903]:
ca_sat = ca_sat.astype({
    'tot_num_both_bench_12': int,
    'pct_both_bench_12': float,
    'tot_num_both_bench_11': int,
    'pct_both_bench_11': float
})

In [904]:
ca_act.columns

Index(['CDS', 'CCode', 'CDCode', 'SCode', 'RType', 'SName', 'DName', 'CName',
       'Enroll12', 'NumTstTakr', 'AvgScrRead', 'AvgScrEng', 'AvgScrMath',
       'AvgScrSci', 'NumGE21', 'PctGE21', 'Year', 'Unnamed: 17'],
      dtype='object')

In [905]:
ca_act.drop(columns=['CDS', 'CCode', 'CDCode', 'SCode', 'SName', 'DName',
       'Enroll12', 'NumTstTakr', 'NumGE21', 'PctGE21', 'Year', 'Unnamed: 17'], inplace=True)

In [906]:
ca_act = ca_act[ca_act['RType'] == 'C']

In [907]:
ca_act.drop(columns=['RType'], inplace=True)

In [908]:
ca_act.replace('*', np.nan, inplace=True)
ca_act.dropna(inplace=True)

In [909]:
ca_act.head()

            CName AvgScrRead AvgScrEng AvgScrMath AvgScrSci
1064   Sacramento         21        20         21        21
1065  San Joaquin         22        21         21        21
1066         Kern         21        20         20        20
1067       Shasta         26        24         24        24
1068       Sutter         23        22         22        22

In [910]:
ca_act.rename(columns={
    'CName': 'county',
    'AvgScrRead': 'read',
    'AvgScrEng': 'eng',
    'AvgScrMath': 'math',
    'AvgScrSci': 'science'
}, inplace=True)

In [911]:
ca_act = ca_act.astype({
    'read': int,
    'eng': int,
    'math': int,
    'science': int
})

In [912]:
# https://stackoverflow.com/questions/33750326/compute-row-average-in-pandas
ca_act['composite'] = ca_act.mean(axis=1)

/var/folders/p1/89v2vyg94jd0blrmm4w41wr00000gn/T/ipykernel_20100/3216715818.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ca_act['composite'] = ca_act.mean(axis=1)

In [936]:
ca_act['county'] = ca_act['county'].str.lower()

In [938]:
ca_act['county'] = ca_act['county'].str.replace(' ', '-')

In [939]:
ca_act.head()

           county  read  eng  math  science  composite
1064   sacramento    21   20    21       21      20.75
1065  san-joaquin    22   21    21       21      21.25
1066         kern    21   20    20       20      20.25
1067       shasta    26   24    24       24      24.50
1068       sutter    23   22    22       22      22.25

### Income by County

In [913]:
income_by_county.head()

,ID Race,Race,ID Year,Year,Household Income by Race,Household Income by Race Moe,Geography,ID Geography,Slug Geography
0,0,Total,2019,2019,108322,2704.0,"Alameda County, CA",05000US06001,alameda-county-ca
1,0,Total,2019,2019,62563,6056.0,"Butte County, CA",05000US06007,butte-county-ca
2,0,Total,2019,2019,107135,3584.0,"Contra Costa County, CA",05000US06013,contra-costa-county-ca
3,0,Total,2019,2019,87059,6290.0,"El Dorado County, CA",05000US06017,el-dorado-county-ca
4,0,Total,2019,2019,57518,2684.0,"Fresno County, CA",05000US06019,fresno-county-ca

In [914]:
income_by_county.isna().sum()

ID Race                         0
Race                            0
ID Year                         0
Year                            0
Household Income by Race        0
Household Income by Race Moe    3
Geography                       0
ID Geography                    0
Slug Geography                  0
dtype: int64

In [919]:
income_by_county[income_by_county['Household Income by Race Moe'].isna()]

,ID Race,Race,ID Year,Year,Household Income by Race,Household Income by Race Moe,Geography,ID Geography,Slug Geography
867,4,Asian,2017,2017,2499,NaN,"Lake County, CA",05000US06033,lake-county-ca
1158,2,Black,2016,2016,2499,NaN,"Lake County, CA",05000US06033,lake-county-ca
1902,3,Native American,2014,2014,2499,NaN,"Lake County, CA",05000US06033,lake-county-ca

In [920]:
income_by_county.columns

Index(['ID Race', 'Race', 'ID Year', 'Year', 'Household Income by Race',
       'Household Income by Race Moe', 'Geography', 'ID Geography',
       'Slug Geography'],
      dtype='object')

In [921]:
income_by_county.drop(columns=['ID Race', 'ID Year', 'Geography', 'ID Geography'], inplace=True)

In [922]:
income_by_county = income_by_county[(income_by_county['Race'] == 'Total') & (income_by_county['Year'] == 2019)]

In [923]:
income_by_county.drop(columns=['Race', 'Year'], inplace=True)

In [928]:
income_by_county.head()

   income  Household Income by Race Moe                  county
0  108322                        2704.0       alameda-county-ca
1   62563                        6056.0         butte-county-ca
2  107135                        3584.0  contra-costa-county-ca
3   87059                        6290.0     el-dorado-county-ca
4   57518                        2684.0        fresno-county-ca

In [930]:
income_by_county.rename(columns={
    'Household Income by Race': 'income',
    'Household Income by Race Moe': 'moe',
    'Slug Geography': 'county'
}, inplace=True)

   income     moe                  county
0  108322  2704.0       alameda-county-ca
1   62563  6056.0         butte-county-ca
2  107135  3584.0  contra-costa-county-ca
3   87059  6290.0     el-dorado-county-ca
4   57518  2684.0        fresno-county-ca

### Combine all DataFrames

In [951]:
scores_and_incomes = pd.merge(pd.merge(ca_sat, ca_act), income_by_county)

In [954]:
scores_and_incomes.head()

,county,tot_num_both_bench_12,pct_both_bench_12,tot_num_both_bench_11,pct_both_bench_11,read,eng,math,science,composite,income,moe
0,el-dorado,442,73.18,619,86.82,25,24,25,24,24.50,87059,6290.0
1,los-angeles,18555,38.12,24602,36.03,21,20,21,20,20.50,72797,749.0
2,madera,127,28.73,293,22.71,19,18,19,19,18.75,64827,6251.0
3,yolo,443,58.37,591,74.06,23,23,23,23,23.00,71417,4589.0
4,kern,1364,35.96,1454,52.13,21,20,20,20,20.25,53067,2168.0

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!