<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Quiz 5  

This notebook contains 5 coding challenges. You are to clone this repository and fill in the quiz with your answers, taking special care to follow the directions _exactly_. In many questions, we ask that you name variables in a specific way. Make sure to do this, as we use it for grading.

To **submit** your quiz, upload/submit your completed notebook in the Google Classroom assignment.

### Quiz Information:
- This is a "closed book" quiz - you may **NOT** use any resources! This includes other code files, Google, StackOverflow, your notes, your classmates, your instructor, or anyone else. Use of any outside resources on this quiz will be considered plagiarism.
- You will have **1 hour** to take this quiz.

# Your Info:
**Please fill out the following questions:**

### 1. What is your name?

Andres Perez

## Problem 1: The Classic FizzBuzz

Write a function called `fizzbuzz` that takes in a number $n$ and returns a **list** of each number from 1 to $n$, but: 
- For each multiple of 3, the item in the list should be "Fizz" instead of the number. 
- For each multiple of 5, the item in the list should be "Buzz" instead of the number. 
- For numbers which are multiples of both 3 and 5, the item in the list should be "FizzBuzz" instead of the number.

Try to make your function as efficient & concise as possible.

> For example:
```python
fizzbuzz(5)
```
> should return:
```python
[1, 2, 'Fizz', 4, 'Buzz']
```

**4pts total**  
*Partial credit will be given if substantial progress to the right answer is made.*

In [3]:
# your answer here:
def fizzbuzz(n):
    result_list = []
    for i in range(1, n+1):
        if i % 3 == 0 and i % 5 == 0:
            result_list.append('FizzBuzz')
        elif i % 3 == 0:
            result_list.append('Fizz')
        elif i % 5 == 0:
            result_list.append('Buzz')
        else:
            result_list.append(i)

    return result_list

In [4]:
fizzbuzz(15)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']

## Problem 2: Factorials!

Write a function called `smallest_int` that takes in a digit $m$ and returns the smallest non-negative integer $n$ for which $n!$ starts with the given digit $m$.

- remember $n! = n * (n-1) * (n-2) * ... * 1$

> For example:
```python
smallest_int(5)
```
> should return:
```python
7
```
> because: $7! = 5040$, and $7$ is the smallest non-negative integer $n$ where $n!$ starts with $5$.

Use this function to find the smallest non-negative integer $n$ for which $n!$ starts with $9$.

**4pts total**  
*Partial credit will be given if substantial progress to the right answer is made.*

In [90]:
# your answer here:
def smallest_int(m):
    factors = [v for v in range(1, 100)]
    result = 1
    for i in factors:
        result *= i
        if int(str(result)[0]) == m:
            return i

In [91]:
smallest_int(5)

7

In [92]:
smallest_int(9)

96

## Problem 3: Quiz Scores

You are given a dictionary containing your scores on various past quizzes (the keys are the quiz names and the values are your scores on the quizzes). Write a function called `quiz_scores` that takes in that dictionary and returns a **list** of just quiz names (i.e. 'Quiz 1', 'Quiz 2', etc.) where your score was **at least 15 points**, in descending order of the scores (highest scoring quiz to lowest scoring quiz).

Note: you can assume the scores will always be unique (so no duplicate values).

> For example:
```python
quiz_scores({'Quiz 1': 10, 'Quiz 2': 17, 'Quiz 3': 20, 'Quiz 4': 15})
```
> should return:
```python
['Quiz 3', 'Quiz 2', 'Quiz 4']
```

### 4pts total
**Partial credit will be given if substantial progress to the right answer is made**

In [74]:
# your answer here:
def quiz_scores(scores):
    result_list = []
    values = [v for k, v in scores.items()]
    # quizzes = [k for k, v in scores.items()]
    values.sort(reverse=True)
    for val in values:
        if val >= 15:
            for k, v in scores.items():
                if v == val:
                    result_list.append(k)
    return result_list

In [75]:
quiz_scores({'Quiz 1': 10, 'Quiz 2': 17, 'Quiz 3': 20, 'Quiz 4': 15})

['Quiz 3', 'Quiz 2', 'Quiz 4']

## Problem 4: Camels and Snakes

Your coworker gives you some Python code but used camelCase instead of snake_case for all of their variable names! Write a function called `camel_to_snake` that takes in a variable name in camelCase and returns that variable name in snake_case. 

You can assume that there will only be one or two words in each variable (i.e. `variable` or `myVariable`), but you can get 1 bonus point if you extend this to work with any number of words in the variable name (i.e. `myFirstVariable` would become `my_first_variable`).

> For example:
```python
camel_to_snake('myVariable')
```
> should return:
```python
'my_variable'
```

**4pts total, with an opportunity for 1 bonus point**  
*Partial credit will be given if substantial progress to the right answer is made.*

In [26]:
# your answer here:
def camel_to_snake(variable_name):
    result = ''
    for a in variable_name:
        if a.lower() == a:
            result += a
        else:
            result += '_'
            result += a.lower()
    return result

In [27]:
camel_to_snake('myVariable')

'my_variable'

In [28]:
# for bonus:
camel_to_snake('myFirstVariable')

'my_first_variable'

## Problem 5: Pythagorean Theorem

The [Pythagorean theorem](https://en.wikipedia.org/wiki/Pythagorean_theorem) describes the relationship between side lengths of right triangles, where the square of the hypotenuse is equal to the sum of the squared lengths of the other two sides. More commonly, this formula is written as $a^2 + b^2 = c^2$, for triangle side lengths $a$, $b$, and hypotenuse $c$. Any three positive integers that satisfy this property is known as a [Pythagorean triple](https://en.wikipedia.org/wiki/Pythagorean_triple).

Write a function called `right_triangle` that takes in a list of positive integers and returns a list of Pythagorean triples that exist within the given list of integers.

Some examples of Pythagorean triples:
- [3, 4, 5], since $3^2 + 4^2 = 5^2$
- [5, 12, 13], since $5^2 + 12^2 = 13^2$
- [6, 8, 10], since $6^2 + 8^2 = 10^2$

> For example:
```python
right_triangle([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
```
> should return:
```python
[[3, 4, 5], [5, 12, 13], [6, 8, 10]]
```

**4pts total**  
*Partial credit will be given if substantial progress to the right answer is made.*

In [51]:
# your answer here:
def right_triangle(numbers):
    result = []
    for number1 in numbers:
        pytha = []
        for number2 in numbers:
            for number3 in numbers:
                if (number1**2 + number2**2) == number3**2:
                    pytha.append(number1)
                    pytha.append(number2)
                    pytha.append(number3)
                    result.append(pytha)
                    numbers.remove(number1)

    return result

In [52]:
right_triangle([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

[[3, 4, 5], [5, 12, 13], [8, 6, 10]]

## Bonus: Quotes

Get up to 2 bonus points for writing a famous/movie quote in code (Python, SQL, Unix commands, etc.). Your code does not have to actually run but it should make sense.

> Example 1 (credit: Riley Dallas):
```python
if not success:
    for i in range(2):
        tries += 1
```
> "If at first you don't succeed, try try again."

> Example 2 (credit: Noah Christiansen):
```shell
C:\Users\nobody> mv baby.txt corner
```
> "Nobody puts Baby in a corner." (from the movie [*Dirty Dancing*](https://writingexplained.org/idiom-dictionary/nobody-puts-baby-in-the-corner))

In [ ]:
# Schindler's list. Please excuse if Schindler is misspelled
['Schindler', 'Schindler', 'Schindler']