![](./assets/erd.png)

1. Get the first 10 rows and all columns of the animals table (get all columns but limit the result of the query to 10 items).

```MySQL
SELECT *
FROM animals AS a
LIMIT 10
```

2. Get a list of the unique breeds of animals.

```MySQL
SELECT DISTINCT a.breed
FROM animals AS a
```

3. Get all of the ages and weights of black dogs (`type` is `dog` and `color` is `black`).

```MySQL
SELECT a.age, a.weight
FROM animals AS a
WHERE a.type = 'dog' AND a.color = 'black'
```

4. Get all of the types and breeds of animals that weigh more than 55 pounds.

```MySQL
SELECT a.type, a.breed
FROM animals AS a
WHERE a.weight > 55
```

5. Get a list of all customers using gmail (customers whose emails end in `@gmail.com`).

```MySQL
SELECT c.first_name, c.last_name, c.email
FROM customers AS c
WHERE c.email LIKE '%gmail.com%'
```

6. Get the average weight by breed of breeds that average at least 40 pounds.

```MySQL
SELECT a.breed, AVG(a.weight)
FROM animals AS a
GROUP BY a.breed
HAVING AVG(a.weight) > 40
```

7. Get the last name of all people who have adopted a cat (`type` is `cat`).

```MySQL
SELECT a.type, c.last_name
FROM animals AS a
INNER JOIN customers as c ON a.id = c.pet_id
WHERE a.type = 'cat'
```

8. Grouping by type, get the average age of each type of animal. Name the average age column `avg_age`.

```MySQL
SELECT a.type, AVG(a.age) AS avg_age
FROM animals AS a
GROUP BY a.type
```

9. How many rabbits (`type` is `rabbit`) are located in New York (`state` is `New York`)?

```MySQL
SELECT COUNT(a.type)
FROM animals AS a
INNER JOIN locations as l ON a.id = l.id
GROUP BY a.type
HAVING a.type = 'rabbit' AND l.state = 'New York'
```

10. Get the pet ID, breed, customer ID, and city of dogs (`type` is `dog`) who have been adopted (`adopted` is `Yes` or `yes`). Order the results alphabetically by breed.

```MySQL
SELECT c.pet_id, a.breed, c.customer_id, l.city
FROM animals AS a
INNER JOIN customers AS c ON a.id = c.pet_id
INNER JOIN locations AS l ON l.id = a.location_id
WHERE a.type LIKE '%dog%' AND a.adopted LIKE '%yes%'
ORDER BY a.breed
```